body {
  background: #000;
  color: #0f0;
  font-family: monospace;
  margin: 0;
}
pre {
  margin: 0;
  padding: 0;
}
form {
  padding: 0;
  margin: 0;
}
input {
  font-family: monospace;
  font-weight: normal;
  font-size: inherit;
  background-color: #222;
  color: #0f0;
  border: 0;
  margin: 0;
  padding: 0;
  width: 70%;
}
input:focus {
  background-color: #000;
}
.error {
  background-color: #f00;
  color: #000;
}