/* green phosphor: #2a4 */

/**** document ****/

html {
    background: #112 url(grunge.png) repeat-x;
}

body {
    font-family: sans-serif;
    color: #ddc;
    padding: 10px;
    max-width: 700px;
}

/**** heading ****/

h1:first-child {
    text-transform: lowercase;
    font-size: 1.6em;
    padding: 3px;
    margin: 0 0 1em 70px;
}

h1:first-child:before {
    color: #ddc;
    letter-spacing: -0.1em;
    content: "Capture The Flag: ";
}

/**** body ****/

a img {
    border: 0px;
}

a {
    text-decoration: underline;
    color: #84b;
    font-weight: bold;
}

a:hover {
    background: #333;
    font-weight: bold;
}


h1, h2, h3 {
    color: #b71;
    letter-spacing: -0.05em;
}

.readme {
    background-color: #333;
    margin: 1em;
}

pre {
    background-color: #333;
    border: solid #ddc 2px;
    padding: 0.25em;
}


th {
    vertical-align: top;
    text-align: center;
}
td {
    vertical-align: top;
    text-align: right;
}

p {
    line-height: 1.4em;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #ddc;
}



/*** left side bar ***/

#navigation {
  position: absolute;
  background: HBG;
  opacity: 0.9;
  top: 80px;
  left: 0px;
  padding: 0;
}

#navigation h3 {
  font-size: 100%;
  border-bottom: 2px solid #333;
}

#navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#navigation li a {
  display: block;
  height: 25px;
  width: 90px;
  padding: 5px;
  margin: 5px;
  border-right: 4px solid #ddc;
  text-transform: lowercase;
  font-size: 0.9em;
}

#navigation li a:hover {
  background: #333;
  border-right-color: #b71;
}

/**** special cases ****/

.wide {
    max-width: inherit;
}

.figure {
    margin: 0.5em 1em;
    float: right;
    font-size: small;
    text-align: center;
}

.scoreboard {
    background: #112;
}

.scoreboard td {
    height: 400px;
}

#battlefield {
    border: 2px solid green;
}

.solved {
    text-decoration: line-through;
}

table.pollster {
    margin-left: 5em;
}

table.pollster td {
    padding: 2px 1em 2px 5px;
}

table.pollster thead {
    font-weight: bold;
}


