/* http://paletton.com/#uid=63T0u0k7O9o3ouT6LjHih7ltq4c */
body {
  font-family: sans-serif;
  max-width: 40em;
	background: #282a33;
	color: #f6efdc;
}
a:any-link {
	color: #8b969a;
}
h1 {
	background: #5e576b;
	color: #9e98a8;
}
.Fail, .Error, #messages {
	background: #3a3119;
	color: #ffcc98;
}
.Fail:before {
	content: "Fail: ";
}
.Error:before {
	content: "Error: ";
}
p {
	margin: 1em 0em;
}
form, pre {
	margin: 1em;
}
input, select {
	padding: 0.6em;
	margin: 0.2em;
	max-width: 30em;
}
nav {
  border: solid black 2px;
}
nav ul, .category ul {
  padding: 1em;
}
nav li, .category li {
	display: inline;
	margin: 1em;
}
iframe#body {
  border: inherit;
  width: 100%;
}
img {
  max-width: 100%;
}
input:invalid {
  border-color: red;
}
#messages {
  min-height: 3em;
  border: solid black 2px;
}
#scoreboard {
	width: 100%;
	position: relative;
}

#scoreboard span {
	font-size: 75%;
	display: inline-block;
	overflow: hidden;
	height: 1.7em;
}
#scoreboard span.teamname {
	font-size: inherit;
	color: white;
	text-shadow: 0 0 3px black;
	opacity: 0.8;
	position: absolute;
	right: 0.2em;
}
#scoreboard div * {white-space: nowrap;}
.cat0, .cat8, .cat16 {background-color: #a6cee3; color: black;}
.cat1, .cat9, .cat17 {background-color: #1f78b4; color: white;}
.cat2, .cat10, .cat18 {background-color: #b2df8a; color: black;}
.cat3, .cat11, .cat19 {background-color: #33a02c; color: white;}
.cat4, .cat12, .cat20 {background-color: #fb9a99; color: black;}
.cat5, .cat13, .cat21 {background-color: #e31a1c; color: white;}
.cat6, .cat14, .cat22 {background-color: #fdbf6f; color: black;}
.cat7, .cat15, .cat23 {background-color: #ff7f00; color: black;}


#devel {
  background-color: #c88;
  color: black;
}
.kvpair {
  border: solid black 2px;
}

.spinner {
  display: inline-block;
  width: 64px;
  height: 64px;
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: rotate 1.2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
