/*
 * Colors
 *
 * This uses the alpha channel to apply hue tinting to elements, to get a
 * similar effect in light or dark mode.
 *
 * http://paletton.com/#uid=33x0u0klrl-4ON9dhtKtAdqMQ4T
 */
body {
	background: #010e19;
  color: #edd488;
}
main {
  background: #000d;
}
h1, h2, h3, h4, h5, h6 {
  color: #cb2408cc;
}
h1 {
  background: #cb240844;
}
a:any-link {
	color: #b9cbd8;
}
.notification {
	background: #ac8f3944;
}
.error {
  background: red;
  color: white;
}
@media (prefers-color-scheme: light) {
  body {
    background: #b9cbd8;
    color: black;
  }
  main {
    background: #fffd;
  }
  a:any-link {
    color: #092b45;
  }
}

body {
  font-family: sans-serif;
  background-image: url("bg.png");
  background-size: contain;
  background-blend-mode: soft-light;
  background-attachment: fixed;
}
canvas.wallpaper {
  position: fixed;
  display: block;
  z-index: -1000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0.2;
  image-rendering: pixelated;
}
main {
  max-width: 40em;
  margin: auto;
  padding: 1px 3px;
  border-radius: 5px;
}
h1 {
  padding: 3px;
}
p {
	margin: 1em 0em;
}
form, pre {
	margin: 1em;
  overflow-x: auto;
}
input, select {
	padding: 0.6em;
	margin: 0.2em;
	max-width: 30em;
}
.notification, .error {
  padding: 0 1em;
  border-radius: 8px;
}

nav ul, .category ul {
  padding: 1em;
}
nav li, .category li {
	display: inline;
	margin: 1em;
}
iframe#body {
  border: inherit;
  width: 100%;
}
img {
  max-width: 100%;
}
input:invalid {
  border-color: red;
}
.answer_ok {
  cursor: help;
}
#messages {
  min-height: 3em;
}
#rankings {
	width: 100%;
	position: relative;
}

#rankings span {
	font-size: 75%;
	display: inline-block;
	overflow: hidden;
	height: 1.7em;
}
#rankings span.teamname {
	font-size: inherit;
	color: white;
	text-shadow: 0 0 3px black;
	opacity: 0.8;
	position: absolute;
	right: 0.2em;
}
#rankings div * {white-space: nowrap;}
.cat0, .cat8, .cat16 {background-color: #a6cee3; color: black;}
.cat1, .cat9, .cat17 {background-color: #1f78b4; color: white;}
.cat2, .cat10, .cat18 {background-color: #b2df8a; color: black;}
.cat3, .cat11, .cat19 {background-color: #33a02c; color: white;}
.cat4, .cat12, .cat20 {background-color: #fb9a99; color: black;}
.cat5, .cat13, .cat21 {background-color: #e31a1c; color: white;}
.cat6, .cat14, .cat22 {background-color: #fdbf6f; color: black;}
.cat7, .cat15, .cat23 {background-color: #ff7f00; color: black;}


#devel {
  overflow: auto;
}

li[draggable]::before {
  content: "↕";
  padding: 0.5em;
  cursor: move;
}
li[draggable] {
  list-style: none;
}

[draggable].moving {
  opacity: 0.4;
}

[draggable].over {
  border: 1px white dashed;
}

#cacheButton.disabled {
  display: none;
}
