/*
@font-face {
    font-family: 'Maven Pro';
    src: url('maven_pro_black-webfont.eot');
    src: url('maven_pro_black-webfont.eot?#iefix') format('eot'),
         url('maven_pro_black-webfont.woff') format('woff'),
         url('maven_pro_black-webfont.ttf') format('truetype'),
         url('maven_pro_black-webfont.svg#webfontXhB2DgBK') format('svg');
    font-weight: 900;
    font-style: normal;

}
/*

@font-face {
    font-family: 'Maven Pro';
    src: url('maven_pro_medium-webfont.eot');
    src: url('maven_pro_medium-webfont.eot?#iefix') format('eot'),
         url('maven_pro_medium-webfont.woff') format('woff'),
         url('maven_pro_medium-webfont.ttf') format('truetype'),
         url('maven_pro_medium-webfont.svg#webfontNj5iy4Dl') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Maven Pro';
    src: url('maven_pro_bold-webfont.eot');
    src: url('maven_pro_bold-webfont.eot?#iefix') format('eot'),
         url('maven_pro_bold-webfont.woff') format('woff'),
         url('maven_pro_bold-webfont.ttf') format('truetype'),
         url('maven_pro_bold-webfont.svg#webfontNOU7iUTL') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Maven Pro';
    src: url('maven_pro_regular-webfont.eot');
    src: url('maven_pro_regular-webfont.eot?#iefix') format('eot'),
         url('maven_pro_regular-webfont.woff') format('woff'),
         url('maven_pro_regular-webfont.ttf') format('truetype'),
         url('maven_pro_regular-webfont.svg#webfontOM8fITNz') format('svg');
    font-weight: 400;
    font-style: normal;

}

